<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groceryapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ok"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.OrderDetailSellerActivity" />
        <activity android:name=".activities.OrderDetailActivity" />
        <activity
            android:name=".activities.ShopDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.ProductEditActivity" />
        <activity android:name=".activities.AddProductActivity" />
        <activity android:name=".ProfileEditDSellerActivity" />
        <activity android:name=".ProfileEditUserActivity" />
        <activity android:name=".activities.MainUserActivity" />
        <activity android:name=".activities.MainSellerActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".ResgisterSellerActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <service
            android:name=".MyfirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>